<!-- Menu -->
	<nav id="menu">
		<header class="major">
			<h2>Menu</h2>
		</header>
		<ul>
			<li><a href="index.html">Homepage</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="resume.html">Resume</a></li>
			<li><a href="articles.html">Articles</a></li>
			<li>
				<span class="opener">Mind Maps</span>
				<ul>
					<li><a href="Architecture.html">Architecture</a></li>
					<li><a href="DesigningDataApplications.html">Designing Data Intensive Applications</a></li>
					<li><a href="ProblemSolving.html">Problem Solving</a></li>
				</ul>
			</li>
		</ul>
	</nav>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Get in touch</h2>
		</header>
		<ul class="contact">
			<li class="icon solid fa-envelope"><a href="mailto:elmehdibenyoussef@gmail.com">elmehdibenyoussef@gmail.com</a></li>
			<li class="icon solid fa-home">Somewhere On Earth</li>
		</ul>
	</section>
